.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: gray;
}

.navbar > div,
.navbar > ul,
.navbar > img {
  display: flex;
  align-items: center;
  color: black;
}

.navbar ul {
  list-style: none;
  display: flex;
  font-size: 25px;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.navbar li {
  cursor: pointer;
}

.search-box {
  display: flex;
  align-items: center;
  gap: 8px;
}

.search-box input {
  padding: 6px 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.toggle_icon{
    width: 50px;
    height: 35px;
    cursor: pointer;
    margin-right: 120px;
}
